.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-right: 2px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;

  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  flex: 1 1 70px;
  position: relative;

  &.empty {
    opacity: 0;
  }

  &.move-top {
    animation: totop 0.6s forwards;
  }

  &.move-down {
    animation: todown 0.6s forwards;
  }

  &.move-left {
    animation: toleft 0.6s forwards;
  }

  &.move-right {
    animation: toright 0.6s forwards;
  }

  @keyframes toleft {
    from {
      transform: translateX(70px);
    }
    to {
      transform: translateX(0px);
    }
  }

  @keyframes toright {
    from {
      transform: translateX(-70px);
    }
    to {
      transform: translateX(0px);
    }
  }

  @keyframes todown {
    from {
      transform: translateY(-70px);
    }
    to {
      transform: translateY(0px);
    }
  }

  @keyframes totop {
    from {
      transform: translateY(70px);
    }
    to {
      transform: translateY(0px);
    }
  }
}
