.App {
  position: relative;
  background: rgb(242, 242, 242);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .App-header {
    width: 100%;
    background-color: #12304f;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
      font-size: 3rem;
      letter-spacing: 4px;
      font-family: Arial, sans-serif;
      margin: 0px;
    }
  }

  .img-expo {
    position: absolute;
    top: calc(50% - 100px);
    left: 20px;
    width: 200px;
    height: 200px;
    background: black;
  }

  span {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
  }
}
