.App {
  position: relative;
  background: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .App-header {
    width: 100%;
    color: rgba(247, 247, 247, 0.584);

    h1 {
      cursor: pointer;
      width: 80px;
      margin: 0px;
      padding: 20px;
      font-size: 1.6rem;
      line-height: 1;
      font-weight: 600;
    }
  }

  .main-container {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .solved-puzzle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 30px;

    h2 {
      position: absolute;
      opacity: 0;
      font-weight: 300;
      animation: solvedmessage 0.6s 0.3s ease-in forwards;
    }

    @keyframes solvedmessage {
      from {
        opacity: 0;
        font-size: 0.5rem;
        top: 20px;
      }
      to {
        opacity: 1;
        font-size: 1.5rem;
        top: -10px;
      }
    }
  }
  .preview {
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    background: transparent;
    margin-top: 50px;
    padding: 8px 24px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;

    transition: 0.3s;

    &:hover {
      background-color: #ddd;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
