.switcher {
  position: absolute;
  z-index: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;

  overflow: scroll;

  .switcher-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    max-width: 90%;
    min-height: 70vh;
    flex-wrap: wrap;
  }

  .downloading {
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    transition: all 0.6s;
    padding: 20px 0;
    cursor: pointer;

    &.arrowup {
      transform: rotate(180deg);
      transition: all 0.6s;
    }
  }

  .puzzle-images {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
    padding: 0 20px;

    .images {
      width: 90%;
      height: 90%;

      object-fit: contain;
      cursor: pointer;

      transition: 0.3s;
    }

    span {
      font-weight: 100;
      font-size: 0.8rem;
      padding: 5px 20px;
    }

    &:hover img {
      transform: scale(1.2) rotate(5deg);
    }
  }
}
