.switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
  max-width: 80%;

  .images {
    width: 70px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid rgb(231, 233, 233);
    transition: all .3s;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}
