.switcher {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 20%;
  flex-wrap: wrap;
  height: 100%;

  .puzzle-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 90px;

    .images {
      width: 70px;
      height: 70px;
      object-fit: contain;
      cursor: pointer;
    }

    span {
      font-weight: 100;
      font-size: 0.8rem;
      padding: 5px 20px;
      transition: all 0.3s;
      cursor: pointer;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
// @media screen and (max-width: 500px) {
// }
